body{
    margin: 0;
    height: 100%;
    /* background-color: antiquewhite; */
}
.header{
    padding: 15px 0;
    background-color: #ffffff;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.logo-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.emp-payroll{
    color:#42515f;
}
*box{
    box-sizing: border-box;
}
<<<<<<< HEAD
.form-content{
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 65%;
    padding: 44px 60px;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
}
.form-head{
    color: #42515f;
    text-transform: capitalize;
    padding-bottom: 20px;   
}
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}
.label{
    min-width: 140px;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.text{
    font-size: 16px;
    color: #42515f;
}
.input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
=======
>>>>>>> uc2_AddingName
