body{
    margin: 0;
    height: 100%;
    /* background-color: antiquewhite; */
}
.header{
    padding: 15px 0;
    background-color: #ffffff;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.logo-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.emp-payroll{
    color:#42515f;
}
*box{
    box-sizing: border-box;
}